In [3]:
from __future__ import annotations

%load_ext autoreload
%autoreload 2

The autoreload extension is already loaded. To reload it, use:
  %reload_ext autoreload

In [21]:
import numpy as np
import pandas as pd

from config.experiment_config import ExperimentConfig

config = ExperimentConfig()

In [22]:
market_data = pd.read_excel(config.PATH_INPUT / config.INPUT_DATA_FILENAME)
market_data = market_data.rename(columns={"Date": "date"})
market_data["date"] = pd.to_datetime(market_data["date"])
market_data = market_data.set_index("date")
market_data.head()

,EMP,PE,CAPE,DY,Rho,MOV,IR,RR,Y02,Y10,...,YSS,NYF,_AU,_DXY,_LCP,_TY,_OIL,_MKT,_VA,_GR
date,,,,,,,,,,,,,,,,,,,,,
1988-04-10,0.022086,12.9,14.469,3.60,-0.083,118.0,6.02,-1.061,7.459,8.484,...,0.248874,6.896895,450.50,89.14,2473.7,97.990,16.88,419.06,823.219,462.551
1988-04-17,0.022086,12.4,13.960,3.75,-0.078,121.0,5.88,-0.760,7.582,8.737,...,0.326712,2.631749,456.25,88.31,2328.2,96.534,18.37,404.66,823.219,462.551
1988-04-24,0.022086,12.4,13.950,3.75,-0.051,123.0,5.83,-0.760,7.618,8.773,...,0.155089,2.631749,449.25,88.89,2201.4,96.470,18.30,404.71,823.219,462.551
1988-05-01,0.021941,12.5,14.036,3.75,-0.054,124.2,5.98,-0.760,7.728,8.873,...,0.145360,2.631749,449.00,89.16,2147.8,96.005,18.00,407.55,840.891,461.176
1988-05-08,0.022104,12.3,13.761,3.82,-0.079,118.4,6.29,-0.760,7.885,8.990,...,0.146644,2.631749,443.00,89.30,2200.9,95.446,17.74,401.29,840.891,461.176

In [23]:
market_data["ts"] = market_data["Y10"] - market_data["Y02"]

In [28]:
data = market_data[["CAPE", "DY", "ts", "IR", "_OIL", "_MKT"]]
data["_MKT"] = data["_MKT"].pct_change()
data

/var/folders/sr/lzvmv9j54ks_jl4x99t250r00000gn/T/ipykernel_95509/1658046106.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data["_MKT"] = data["_MKT"].pct_change()

              CAPE    DY     ts     IR   _OIL      _MKT
date
1988-04-10  14.469  3.60  1.025  6.020  16.88       NaN
1988-04-17  13.960  3.75  1.155  5.880  18.37 -0.034363
1988-04-24  13.950  3.75  1.155  5.830  18.30  0.000124
1988-05-01  14.036  3.75  1.145  5.980  18.00  0.007017
1988-05-08  13.761  3.82  1.105  6.290  17.74 -0.015360
...            ...   ...    ...    ...    ...       ...
2024-04-07  32.330  1.38 -0.417  5.365  87.69 -0.009351
2024-04-14  31.777  1.40 -0.447  5.385  86.46 -0.016173
2024-04-21  30.774  1.45 -0.425  5.396  83.79 -0.030627
2024-04-28  31.598  1.42 -0.397  5.396  85.38  0.027770
2024-05-05  31.762  1.42 -0.296  5.385  79.65  0.006182

[1883 rows x 6 columns]

In [29]:
data.iloc[1:].to_csv(config.PATH_OUTPUT / config.DF_FILENAME)

In [14]:
market_data["_MKT"].apply(lambda x: 1).to_csv(config.PATH_OUTPUT / config.PRESENCE_MATRIX_FILENAME)