In [1]:
from __future__ import annotations

%load_ext autoreload
%autoreload 2

In [4]:
import numpy as np
import pandas as pd

from ipsqt.utils.data import read_csv

from config.experiment_config import ExperimentConfig

config = ExperimentConfig()

In [5]:
data = read_csv(config.PATH_OUTPUT, config.DF_FILENAME)

In [11]:
data["prev_ret"] = data["_MKT"].shift(1)

In [12]:
data

              CAPE    DY     ts        IR   _OIL      _MKT  prev_ret
date
1988-04-17  13.960  3.75  1.155  0.001143  18.37 -0.034363       NaN
1988-04-24  13.950  3.75  1.155  0.001134  18.30  0.000124 -0.034363
1988-05-01  14.036  3.75  1.145  0.001163  18.00  0.007017  0.000124
1988-05-08  13.761  3.82  1.105  0.001223  17.74 -0.015360  0.007017
1988-05-15  13.725  3.83  1.168  0.001202  17.49 -0.001719 -0.015360
...            ...   ...    ...       ...    ...       ...       ...
2024-04-07  32.330  1.38 -0.417  0.001043  87.69 -0.009351  0.005063
2024-04-14  31.777  1.40 -0.447  0.001047  86.46 -0.016173 -0.009351
2024-04-21  30.774  1.45 -0.425  0.001049  83.79 -0.030627 -0.016173
2024-04-28  31.598  1.42 -0.397  0.001049  85.38  0.027770 -0.030627
2024-05-05  31.762  1.42 -0.296  0.001047  79.65  0.006182  0.027770

[1882 rows x 7 columns]

In [13]:
def classify_momentum_reversal(row: pd.Series) -> str:
    if np.sign(row["_MKT"]) == np.sign(row["prev_ret"]):
        return "momentum"
    else:
        return "reversal"


data["class"] = data.apply(lambda row: classify_momentum_reversal(row), axis=1)

In [14]:
data["class"]

date
1988-04-17    reversal
1988-04-24    reversal
1988-05-01    momentum
1988-05-08    reversal
1988-05-15    momentum
                ...
2024-04-07    reversal
2024-04-14    momentum
2024-04-21    momentum
2024-04-28    reversal
2024-05-05    momentum
Name: class, Length: 1882, dtype: object

In [16]:
data.groupby("class").count() / data.shape[0]

              CAPE        DY        ts        IR      _OIL      _MKT  prev_ret
class
momentum  0.501594  0.501594  0.501594  0.501594  0.501594  0.501594  0.501594
reversal  0.498406  0.498406  0.498406  0.498406  0.498406  0.498406  0.497875